{% extends 'base.html.twig' %}

{% block body %}
<div class='container'>
	<div class='row'>
		<div class='col-xs-12'>
			<h1>New Genus</h1>
			
			{{ form_start(genusForm) }}
				{{ form_widget(genusForm) }}
				<button type='submit' class='btn btn-primary'>Save</button>
			{{ form_end(genusForm) }}
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://resources/demos/style.css">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript">
		$(function() {
			$(".js-datepicker").datepicker();
		});
	</script>
{% endblock %}
